<div id="contenido">
   <div class="row">
      {{#each lista}}
      <form action="/sintomas/lista/{{idSintomas}}" method="get"></form>
      <div id="tarjeta">
         <div id="nombre">
            <label>{{nombreSintomas}}</label>
         </div>

         <div id="Descripcion">
            <label> Descripcion :</label>
            <p> {{descrpcionSintomas}} </p>

            <div id="botonEditar">
               <button>
                  <a href="/sintomas/editar/{{idSintomas}}">Editar</a>
               </button>
            </div>

            <div id="botonEliminar">
               <button>
                  <a href="/sintomas/eliminar/{{idSintomas}}">Eliminar</a>
               </button>
            </div>
         </div>

         {{else}}
         <div id="mensaje">
            <p><b>No presenta ningun sintoma. </b></p>
            <a href="/sintomas/agregar/{{user.idUsuario}}">
               <button type="button">¿Desea registrar?</button>
            </a>
         </div>
         {{/each}}
      </div>
   </div>
</div>

<div id="plus">
   <a href="/sintomas/agregar/{{user.idUsuario}}">
      <button type="button"><img src="/img/usuarios/plus.png"></button>
   </a>
</div>

