<!-- Required meta tags -->
<link rel="stylesheet" href="/css/Medicamentos/MedicamentosEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<div id="contenedor">

    {{#each enlistar}}
    <form action="/medicamentos/editar/{{idmedicaciones}}" method="POST">
        <div>
            <div id="Nombres">
                <label>
                <b>Nombre de la Medicación:</b>
                </label>
                <input type="text" name="nombre" id="nombre" value="{{nombre}}" required>
            </div>

            <div id="Dosis">
                <label>
                <b>Dosis al Día:</b>
                </label>
                <input type="number" name="dosis" id="dosis" value="{{dosis}}" required>
            </div>

            <div id="Horario">
                <label>
                <b>Horario de la Dosis:</b>
                </label>
                <input type="text" name="hora" id="hora" value="{{hora}}" required>
            </div>

            <div id="FechaInicio">
                <label>
                <b>Fecha de Inicio:</b>
                </label>
                <input type="date" name="fechaInicio" id="fechaInicio" value="{{fechaInicio}}" readonly>
            </div>

            <div id="FechaFinal">
                <label>
                <b>Fecha de Control:</b>
                </label>
                <input type="date" name="fechaFinal" id="fechaFinal" value="{{fechaFinal}}">
            </div>

            <div id="boton">
                <button type="submit" id="btn-agregar">
                    Actualizar
                </button>
            </div>
        </div>
    </form>
    {{/each}}

</div>
