<link rel="stylesheet" href="/css/my/experence.css" />
<center>
  <div id="head">
    <h5 id="h5">EXPERIENCIAS
      <a id="a" href="/add-experence"> Agregar Una Experiencia</a>
    </h5>
  </div>
</center>
{{#each experences}}

  <center>
    <ul id="cards">
      <li>
        <div id="card">
          {{#if imagenExperiencia}}
            <img src="/{{imagenExperiencia}}" id="card__image" alt="" />
          {{else}}
            <img
              src="/img/image-experence/not-found/not-found.jpg"
              id="card__image"
              alt=""
            />

          {{/if}}
          <div id="card__overlay">
            <div id="card__header">
              <svg id="card__arc" xmlns="http://www.w3.org/2000/svg">
                <path></path>
              </svg>
              <div id="card__header-text">
                <h3 id="card__title">
                  Nombre Experiencia:
                  {{nombreExperiencia}}</h3>
                <span id="card__status">Video Experiencia:{{videoExperiencia}}</span>
              </div>
            </div>
            <p id="card__description">Descripción:
              {{descripcionExperiencia}}</p>
            <form
              action="/image-experence/{{id}}"
              method="POST"
              encType="multipart/form-data"
            >
              <div id="modal_container">

                <div id="drag-area">
                  <p>Agregar foto:</p>
                  <input type="file" name="sampleFile" accept="image/*" />
                  <input type="submit" />
                </div>
              </div>
            </form>
            <br />

            <a
              id="card__description"
              style="background-color: rgb(226, 93, 4);width: 40%;"
              href="/delete/{{id}}"
            >
              <i class="fa-solid fa-trash-can"></i>
              Delete
            </a>
            <a
              id="card__description"
              style="width: 40%;"
              href="/edit/{{id}}"
            >
              <i class="fa-solid fa-pen-to-square"></i>
              Edit
            </a>
          </div>
        </div>
      </li>

    </ul>
  </center>
{{else}}
  <center>
    <div id="padd">
      <div id="card card-body text-center">
        <p>No tienes experiencias agregadas.</p>
        <a href="/add-experence">crea uno!</a>
      </div>
    </div>
  </center>
{{/each}}