<!-- Required meta tags -->
<link rel="stylesheet" href="/css/tipoEpilepsia.Css/tipoEpilepsiaListas.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
    
<div id="contenido">
   <div class="row">
      {{#each lista}}
      <form action="/tipoEpilepsia/lista/{{idTipoEpilepsia}}" method="get"></form>
      <div id="tarjeta">
         <div id="nombre">
            <label>{{nombreTipoEpilepsia}}</label>
         </div>

         <div id="Descripcion">
            <label> Descripcion :</label>
            <p> {{descripcionTipoEpilepsia}} </p>

            <div id="botonEditar">
               <button>
                  <a href="/tipoEpilepsia/editar/{{idTipoEpilepsia}}">Editar</a>
               </button>
            </div>

            <div id="botonEliminar">
               <button>
                  <a href="/tipoEpilepsia/eliminar/{{idTipoEpilepsia}}">Eliminar</a>
               </button>
            </div>
         </div>

         {{else}}
         <div id="mensaje">
            <p><b> No existe registro de tipo de Epilepsia. </b></p>
            <a href="/tipoEpilepsia/agregar/{{user.idUsuario}}">
               <button type="button">¿Desea registrar?</button>
            </a>
         </div>
      </div>
   </div>
        {{/each}}
</div>

<div id="plus">
   <a href="/tipoEpilepsia/agregar/{{user.idUsuario}}">
      <button type="button"><img src="/img/usuarios/plus.png"></button>
   </a>
</div>