{{#each enlistar}}
<form action="/experiencias/editar/{{idExperiencias}}" method="POST">
    <div>
        <label>
            Foto:
        </label>
        <input type="image" name="imagenConsejo" id="foto" value="{{imagenExperiencia}}">
    </div>
        <div>
        <label>
            Video:
        </label>
        <input type="video" name="videoConsejo" id="video" value="{{videoExperiencia}}">
    </div>
    <div>
        <label>
            Nombre:
        </label>
        <input type="text" name="nombreConsejo" id="nombre" value="{{nombreExperiencia}}">
    </div>
    <div>
        <label>
            Descripción:
        </label>
        <input type="text" name="consejosDetallesConsejo" id="descripcion" value="{{experienciasDetallesExperiencias}}">
    </div>
    <div>
        <button type="submit" id="btn-agregar">
            Guardar Cambios
        </button>
    </div>
</form>
{{/each}}