

<link rel="stylesheet" href="/css/experence.css">
<center>
    <div style=" border-bottom: 2px solid rgb(255, 85, 0); margin-top:5%; border-radius:5%;width:50%;">
        <h5 style="color: rgb(255, 89, 0);">CONSEJOS <a href="/add-councils"
                style="background-color: rgb(0, 72, 255); color:aliceblue;border-radius:5%; "> Agregar Un
                Consejo</a>
        </h5>
    </div>
</center>
{{#each councils}}

<center>
    <ul class="cards">
        <li>
            <div class="card">
                {{#if imagenConsejo}}
                <img src="/{{imagenConsejo}}" class="card__image" alt="" />
                {{else}}
                <img src="/img/image-councils/not-found/not-found.jpg" class="card__image" alt="" />

                {{/if}}
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path />
                        </svg>
                        <div class="card__header-text">
                            <h3 class="card__title"> Nombre Consejo: {{nombreConsejo}}</h3>
                            <span class="card__status">Video Consejo:{{videoConsejo}}</span>
                        </div>
                    </div>
                    <p class="card__description">Descripción: {{descripcionConsejo}}</p>
                    <form action="/image-councils/{{id}}" method="POST" encType="multipart/form-data">
                        <div class="modal_container">

                            <div class="drag-area">
                                <p>Agregar foto:</p>
                                <input type="file" name="sampleFile" accept="image/*" />
                                <input class="" type="submit">
                            </div>
                        </div>
                    </form>
                    <br>

                    <a class="card__description" style="background-color: rgb(226, 93, 4);width: 40%;"
                        href="/deleted/{{id}}">
                        <i class="fa-solid fa-trash-can"></i>
                        Delete
                    </a>
                    <a class="card__description" style="width: 40%;" href="/post/{{id}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Edit
                    </a>
                </div>
            </div>
        </li>

    </ul>
</center>
{{else}}
<center>
    <div style="padding-top: 5%; padding-bottom:5%; ">
        <div class="card card-body text-center" style="border: 1px solid rgb(255, 119, 0);">
            <p>No tienes consejos agregados.</p>
            <a href="/add-councils">crea uno!</a>
        </div>
    </div>
</center>
{{/each}}